<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd} %d{HH:mm:ss.SSS} [%thread] %level %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <property name="LOG_DIR" value="log" />
    <property name="LOG_NAME" value="timechamp" />

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${LOG_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_DIR}/%d{yyyy-MM-dd}/${LOG_NAME}.gz</fileNamePattern>

            <!-- keep 7 days' worth of history capped at 1GB total size -->
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %level %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="dev.bluemedia.timechamp" level="info" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE" />
    </logger>

    <root level="error">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE" />
    </root>

</configuration>